<section class="section center-section">
  <a href="/add-expense" class="btn">Add Expense</a>
</section>

<section class="transaction-history-section section">
  <h2 class="section-title">Transaction Activity</h2>
  <ul class="transaction-table">
    <li class="table-head">
      <h4>Date</h4>
      <h4>Payee</h4>
      <h4>Category</h4>
      <h4>Amount</h4>
      <h4>settings</h4>
    </li>
  </ul>
</section>

<script src="/js/transactions.js"></script>